.products{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
    justify-content: center;
    width: calc(100% - 120px);
    margin: auto;
    align-items: center;
    gap: 15px;
   
    
}
.product{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background:  #FFF;
    justify-content: center;
  border: 1px solid #F1F1F3;
  align-items: center;
    flex :1 1 300px;
    gap: 15px;
    align-self: stretch;
   padding: 5px;
   

   
}
img{
   width: 300px;
   height: 250px;
}
.R{
    text-align: center;
    color:rgb(19, 19, 19);
    font-weight: 600;
    
}
span{
    color: black ;
    font-weight: 600;
    font-size: large;

    
}
p{
    font-weight: 600;
    font-size: large;  
}